/build
local.properties
build.gradle
settings.gradle
gradlew.bat
gradlew
gradle.properties
/gradle
/app/build
/app/src/test
/app/src/androidTest
/.idea/workspace.xml
/.gradle/8.0/checksums/checksums.lock
/.gradle/config.properties
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/8.0/fileChanges/last-build.bin
/.gradle/8.0/checksums/md5-checksums.bin
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_19_03_2024_20_44_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_19_03_2024_20_44__Changes_.xml
/.gradle/workspace-id.txt
/.gradle/workspace-id.txt.lock
